<!DOCTYPE html>
<html>
  <head>
    <title>Custom Image Search Engine</title>
    <meta name="description" content="An image search abstraction layer made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Image Search Abstraction Layer</h1>
    </header>

    <main>
      <h4>How to Search:</h4>
      <p>https://blaze-birth.glitch.me/image-search/&lt;search term&gt;?offset=&lt;offset&gt;</p>
      <h4>See Search Log:</h4>
      <p>https://blaze-birth.glitch.me/latest-search</p>
    </main>

    <footer>
    </footer>

  </body>
</html>
